body {
  height: min-content;
  width: min-content;
  opacity: 0;
  animation: ani 0.5s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.okno {
  width: 350px;
  height: min-content;
  font-weight: bold;
  text-align: center;
  font-size: 15;
  padding: 15px;
  color: #000000;
  }

.list-links {
  font-weight: bold;
  font-size: 15;
  padding: 5px;
  color: #000000;
}

.link {
  font-weight: bold;
  font-size: 15;
  margin: 10px;
}

.div-center {
  display: flex;
  justify-content: center;
}

#filter {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-weight: bold;
  font-size: 15;
  padding: 5px;
  color: #000000;
  margin: 10px;
}

input[name="contact"] {
  border:2px solid white;
  box-shadow:0 0 0 1px #ff8800;
  appearance:none;
  border-radius:50%;
  width:12px;
  height:12px;
  background-color:#fff;
  transition:all ease-in 0.2s;

}
input[name="contact"]:checked {
  background-color:#FF4F00;
}

label[class="radio-button"] {
  margin-right: 15px;
}

.img-garpix {
  width: 30%;
  display: block;
  margin-top: 15px;
}

html {
  background-color: #FFFFF0;
}

.button {
  width: 330px;
  margin-left: 10px;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #ff8800;
  color: #181d27;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 16px;
  transition-duration: 0.4s;
  border: 2px solid #ff8800;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.button:active {
  background: #FF4F00;
  transition-duration: 0.2s;
}
